.navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: max-content;
	padding: 5px;
	margin-bottom: 10px;
	background-color: lightblue;
}
