.about {
	display: flex;
	flex-direction: row;
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.right-container {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
	}
}
