.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 5px;
	padding: 4px;
	width: 20%;
	border: 1px solid red;
}

.sort-container {
	background-color: lightgray;
}
